h1 {
    text-align: center;
}

.container {
    margin: 15px;
    background-color: white;
    padding: 0px 100px 0px 100px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.short-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    height: 300px;
}

.left-column {
    background-color: lightgreen;
    height: 500px;
    border: 1px solid;
    margin: 2px;
}

.right-column {
    background-color: white;
    height: 500px;
    border: 1px solid;
    margin: 2px;
}